
    <section class="py-20 lg:py-28 bg-white">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="grid grid-cols-2 lg:grid-cols-4 gap-8">
                <div class="scroll-reveal text-center" data-delay="1"><p class="text-4xl lg:text-5xl font-display font-extrabold text-brand-orange mb-2">По задаче</p><p class="text-slate-600 font-medium">Опыт команды</p></div>
                <div class="scroll-reveal text-center" data-delay="2"><p class="text-4xl lg:text-5xl font-display font-extrabold text-brand-orange mb-2">По задаче</p><p class="text-slate-600 font-medium">Состав работ</p></div>
                <div class="scroll-reveal text-center" data-delay="3"><p class="text-4xl lg:text-5xl font-display font-extrabold text-brand-orange mb-2"><span >После осмотра</span></p><p class="text-slate-600 font-medium">после диагностики</p></div>
                <div class="scroll-reveal text-center" data-delay="4"><p class="text-4xl lg:text-5xl font-display font-extrabold text-brand-orange mb-2"><span >По согласованию</span></p><p class="text-slate-600 font-medium">Месяцев гарантия</p></div>
            </div>
        </div>
    </section>